.footer {
    background: #0A0909;
    color: #FFF9F9;
    width: 100vw;
    position: absolute;
    bottom: 0;
}
.parrafo {
    font-size: 12px;
}
@media (min-width:1024px) {
    .parrafo {
        font-size: 20px;
    }
}