.containerFlexIzq{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}
.listItemMenu {
  background:#eee;
  padding: 5px;
  margin: 5px;
  height: 100px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}
.imgMenu {
    width: 10%;
    height: 10%;
}
