.border {
    border: 1px solid black;
}
.headerDate {
    text-align: center;
}
.footerListOrder {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
.marginListOrder {
    margin: 5%;
}
.headerOrder{
    background: #eee;
}
.marginItem {
    margin: 2%;
}